<h1>New controller</h1>

<p>
  Stubs out a new controller and its views.
</p>

<%= form_for(:app_controller, :url => app_controllers_path) do |form| %>
  <p>
    <%= form.label :name, "Name <small>(singular, ex: Post, Person, Product)</small>".html_safe %><br />
    <%= form.text_field :name %>
  </p>

  <h1>Actions</h1>

  <table id="fieldsTable">

    <% 5.times do |i| %>
      <tr class="field">
        <td><%= text_field_tag "app_controller[fields][][name]" %></td>
      </tr>
    <% end %>
  </table>

  <a href="#" id="addField">Add a new action</a>


  <h1>Options</h1>

  <p>
    <%= form.check_box :skip_namespace %> Skip namespace<br />
    <%= form.check_box :skip_helper %> Skip helper<br />
    <%= form.check_box :skip_assets %> Skip assets

  <p>
    <%= form.submit "Create controller" %>
  </p>
<% end %>

<%= content_for :scripts do %>
  <%= javascript_include_tag "conductor/generators" %>
<% end %>