<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Rails: <%= @page_title %></title>
  <%= stylesheet_link_tag "conductor" %>
  <%= javascript_include_tag "conductor" %>
</head>

<body>
  <div id="page">
    <div id="sidebar">
      <ul id="sidebar-items">
        <li>
          <h3>Code</h3>
          <ul class="links">
            <li>Browse</li>
            <li>Test</li>
          </ul>
        </li>

        <li>
          <h3>Generators</h3>
          <ul class="links">
            <li><%= link_to("Scaffold", new_scaffold_path) %></li>
            <li><%= link_to("Resource", new_resource_path) %></li>
            <li><%= link_to("Model", new_model_path) %></li>
            <li><%= link_to("Controller", new_app_controller_path) %></li>
            <li><%= link_to("Mailer", new_mailer_path) %></li>
          </ul>
        </li>

        <li>
          <h3>Manage</h3>
          <ul class="links">
            <li><%= link_to("Databases", database_path) %></li>
            <li><%= link_to("Fixtures", fixtures_path) %></li>
            <li><%= link_to("Gems", gemfile_path) %></li>
          </ul>
        </li>

        <li>
          <h3>Reflection</h3>
          <ul class="links">
            <li><%= link_to("Routes", routes_path) %></li>
            <li><%= link_to("Annotations", annotations_path) %></li>
            <li><%= link_to("Statistics", statistics_path) %></li>
          </ul>
        </li>

        <li>
          <h3>Documentation</h3>
          <ul class="links">
            <li>Your application</li>
            <li>Rails API</li>
            <li>Rails Guides</li>
            <li>Ruby core</li>
            <li>Ruby stdlib</li>
          </ul>
        </li>


        <li>
          <h3>Extensions</h3>
          <ul class="links">
            <li>Tolk</li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="content">
      <div id="header">
        <h1>Rails: <%= @page_title %></h1>
        <h2>You&rsquo;re riding Ruby on Rails!</h2>
      </div>

      <div id="meat">
        <%= yield %>
      </div>
    </div>
    <div id="footer">&nbsp;</div>
    <%= yield :scripts %>
  </div>
</body>
</html>
