<h1>New scaffold</h1>

<p>
  Scaffolds an entire resource, from model and migration to controller and
  views, along with a full test suite. The resource is ready to use as a
  starting point for your RESTful, resource-oriented application.
</p>

<%= form_for(:scaffold, :url => scaffolds_path) do |form| %>
  <p>
    <%= form.label :name, "Name <small>(singular, ex: Post, Person, Product)</small>".html_safe %><br />
    <%= form.text_field :name %>
  </p>

  <h1>Fields</h1>

  <table id="fieldsTable">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% 5.times do |i| %>
      <tr class="field">
        <td><%= text_field_tag "scaffold[fields][][name]" %></td>
        <td><%= select_tag "scaffold[fields][][type]", options_for_select(Conductor::BaseGeneratorForm::DATA_TYPES) %></td>
      </tr>
    <% end %>
  </table>

  <a href="#" id="addField">Add a new field</a>

  <h1>Options</h1>

  <p>
    <%= form.check_box :skip_namespace %> Skip namespace<br />
    <%= form.check_box :skip_stylesheets %> Skip stylesheets<br />
    <%= form.check_box :skip_assets %> Skip assets<br />
    <%= form.check_box :skip_indexes %> Skip indexes<br />
    <%= form.check_box :skip_fixture %> Skip fixture<br />
    <%= form.check_box :skip_helper %> Skip helper<br />
    <%= form.check_box :skip_jbuilder %> Skip jbuilder<br />
    <%= form.check_box :skip_timestamps %> Skip timestamps<br />
    <%= form.check_box :skip_migration %> Skip migration
  </p>

  <p>
    <%= form.submit "Create scaffold" %>
  </p>
<% end %>

<%= content_for :scripts do %>
  <%= javascript_include_tag "conductor/generators" %>
<% end %>